.pageContainer {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-evenly; */
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  max-width: 52rem;
}

.pageContainer h1 {
  font-size: 1.5rem;
}

.pageContainer h2 {
  font-size: 1.2rem;
}

.pageContainer h3,
.pageContainer h4 {
  font-size: 1rem;
}

.pageContainer h4 {
  font-weight: 400;
}


/* .heading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
} */

.title {
  display: inline-block;
  /* font-size: 1.5rem; */
}

.textDivider {
  display: flex;
  width: 100%;
  align-items: center;
  /* --text-divider-gap: .3rem; */
}

.textDivider::before,
.textDivider::after {
  content: '';
  height: 2px;
  background-color: white;
  flex-grow: 1;
  /* margin-right: var(--text-divider-gap); */
  /* margin-left: var(--text-divider-gap); */
}

.textDivider::after {
  /* margin-right: 5rem; */
  margin-left: 1rem;
}

.textDivider::before {
  margin-right: 1rem;
}

.certs {
  display: flex;
  justify-content: space-around;
  /* height: 100%; */
}

.cert {
  display: flex;
  /* width: 40%; */
  /* height: auto; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.imageContainer {
  display: flex;
  width: 50%;
  align-items: flex-end;
  /* max-width: 5rem; */
  /* max-height: 5rem; */
  /* height: 50%; */
}

#awsBadge {
  width: 37%;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.job,
.education__school {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}


.job__dateAndLoc {
  display: flex;
  justify-content: space-between;
}

.job__duties {
  padding-left: 2rem;
}

.jobs,
.education {
  padding: 0 1rem;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech__category {
  margin: 1rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tech__categoryName {
  text-align: center;
}

.tech__items {
  list-style: none;
  text-align: center;
}

@media (min-width: 40rem) {
  .pageContainer {
    /* padding: 2rem 8rem; */
  }

  .jobs,
  .education {
    padding: 0 4rem;
  }
}



