
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  height: 100%;
  position: absolute;
}

.imageContainer {
  width: 100%;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.description {
  font-size: 1.6rem;
}

.contactLink {
  color: #ffc857;
}

@media (min-width: 40rem) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    margin: 4rem;

  }

  .description {
    font-size: 2rem;
    line-height: 130%;
    width: 50%;
  }

  .imageContainer {
    width: 50%;
  }
}

@media (min-width: 60rem) {
  .description{
    font-size: 2.5rem;
  }
}
