/* .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  height: 100%;

}

.imageContainer {
  width: 100%;
  /* object-fit: contain; */
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  /* padding: 2rem; */
}

.description {
  font-size: 1.6rem;
  /* width: 50%; */
}

.contactLink {
  color: #ffc857;
}

@media (min-width: 40rem) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
  }

  .description {
    font-size: 2rem;
    line-height: 130%;
    width: 50%;
  }

  .imageContainer {
    width: 50%;
  }
}

@media (min-width: 60rem) {
  .description{
    font-size: 2.5rem;
  }
}
