
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}

.imageContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.description {
  font-size: 1.6rem;
}

.contactLink {
  color: #ffc857;
}

@media (max-height: 30rem) {
  .imageContainer {
    width: auto;
    height: 100%;
  }

  .image {
    height: 100%;
    width: auto;
  }
}

@media (min-width: 40rem) {
  .container {
    flex-direction: row;
    align-items: center;
    padding-left: 4rem;
    margin: 4rem;
  }

  .description {
    font-size: 2rem;
    line-height: 130%;
    width: 50%;
  }


}

@media (min-width: 60rem) {
  .description{
    font-size: 2.5rem;
  }

  .imageContainer {
    width: auto;
    height: 100%;
  }

  .image {
    height: 100%;
    width: auto;
  }
}
